<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wallet_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinancialApp"
        tools:targetApi="31">
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivityFragments.AddSavingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivityFragments.CreateGoalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivityFragments.CreateBudgetActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivityFragments.DeleteAccountActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivityFragments.AddNewAccountActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddTransaction.AddTransactionActivity"
            android:exported="true"
            android:parentActivityName=".AddTransaction.TransactionCalculatorActivity" />
        <activity
            android:name=".AddTransaction.TransactionCalculatorActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
    </application>

</manifest>